body {

    background-image: linear-gradient(to top, hsla(180, 63%, 50%, 0.208) 0%, hsla(267, 86%, 22%, 0.249) 100%), url('../img/barberia.jpg');
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
}